{
    "parser": "babel-eslint",
    "rules": {
        "linebreak-style": [
            2,
            "unix"
        ],
        "semi": [
            2,
            "always"
        ],
        "no-undef": [0],
        "no-console": [0],
        "no-unused-vars": [1]
    },
    "env": {
        "es6": true,
        "node": true,
        "browser": true
    },
    "extends": ["eslint:recommended", "plugin:react/recommended"],
    "ecmaFeatures": {
        "jsx": true,
        "experimentalObjectRestSpread": true,
        "modules": true
    },
    "plugins": [
        "react"
    ]
}
